# Database server host name.
DB_HOST=localhost
# Database server port number.
DB_PORT=3306
# Username used to connect to the database.
DB_USER=root
# Password used to connect to the database.
DB_PASSWORD=your_database_password
# Name of the database used by this app.
DB_NAME=auth_app
# Port where the backend server will listen.
PORT=4000
